# Authentication Service
NEXT_PUBLIC_BACKEND_AUTH_URL=http://localhost:3001

# Upload Service
NEXT_PUBLIC_BACKEND_UPLOAD_URL=http://localhost:3002

# Review Service
NEXT_PUBLIC_BACKEND_REVIEW_URL=http://localhost:3004

# Budget Service
NEXT_PUBLIC_BACKEND_BUDGET_URL=http://localhost:3005

# Search Service
NEXT_PUBLIC_BACKEND_SEARCH_URL=http://localhost:3007

# Cart Service
NEXT_PUBLIC_BACKEND_CART_URL=http://localhost:3008

# Chat Service
# NEXT_PUBLIC_BACKEND_CHAT_URL=http://localhost:3009

# Clickstream Service
# NEXT_PUBLIC_BACKEND_CLICKSTREAM_URL=http://localhost:3333
# NEXT_PUBLIC_BACKEND_CLICKSTREAM_GET_URL=http://localhost:3033
